.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.dndflow aside {
    border-right: 1px solid #222;
    padding: 15px 10px;
    font-size: 12px;
    color: #eee;
    background: #333;
}

.hamburger-menu {
    border-right: 1px solid #222;
    padding: 15px 10px;
    font-size: 12px;
    color: #eee;
    background: #333;
    display: flex;
    flex-direction: column;

}

.sidepanel {
    display: flex;
    flex-direction: row;
}

.sidepanel .small {
    width: 3vw;
}

.sidepanel .large {
    width: 16vw;
}

.sidepanel-buttons {
    display: flex;
    flex-direction: column;
    width: 3vw;
    background-color: #444;
}

.sidepanel-icon {
    width: 45px;
    height: 45px;
}

.sidepanel-icon-image {
    width: 30px;
    height: 30px;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 13vw;
    height: 100vh;
    background-color: #333;
}

.preview {
    width: 12vw;
    height: 50vh;
    margin-top: 10px;
    background-color: #555;
    color: #eee;
}

.react-flow__controls {
    color: #333;
}

.react-flow__renderer, .react-flow__viewport, svg {
    overflow: visible !important;
}

.react-flow__renderer {
    width: 200vw;
    height: 200vh;
}

.react-flow__edges {
    overflow: visible !important;
}

g, path, rect {
    display: block !important;
    visibility: visible !important;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .dndnode {
    height: 80px;
    width: 80px;
    color: #eee;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    overflow: 'hidden';
}

.dndnode {
    background-color: #444;
}

.custom-node {
    border-radius: 50%; 
    width: 80px;
    height: 80px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background-color: #555;
}

.customNodeBody {
    width: 150px;
    height: 80px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

div.customHandle {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: transparent;
    border: none;
    transform: none;
    pointer-events: auto !important;
    visibility: visible;
}

.node-image {
    width: 50px; 
    height: 50px;
    margin-top: 5px;
}
.node-label {
    font-size: 14px;
    color: #eee;
}
   
.drag-handle__custom {
    display: inline-block;
    width: 24px;
    height: 14px;
    margin-top: -18px;
    margin-bottom: 0px;
    background-color: #777;
    border: 1px solid #eee;
    border-radius: 2px;
    overflow: visible;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.dndflow .selectall {
    margin-top: 10px;
}


.reactflow-wrapper {
    display: flex;
    pointer-events: all; 
    background-color: #222;
}

.reactflow-wrapper.drag-over {
    background-color: rgba(255, 0, 0, 0.2); /* Change color to indicate a drop zone */
}

.pop-up {
    border: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    color: #eee;
    background: #333;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.plus-minus-button {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    margin: 1px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.plus {
    background-color: rgb(0, 87, 0);
    border: 1.5px solid rgb(0, 153, 0) 
}

.minus {
    background-color: rgb(144, 38, 38);
    border: 1.5px solid rgb(231, 63, 63)
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    appearance: none;
    width: 90px;
    background: #444;
    color: #eee;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-color:#222;
}

.top {
    background: #555;
}

input {
    height: 15px;
}

.tab {
    border: none;
    border-bottom: 2px solid #222;
    background: #444;
    margin-right: 1px;
    border-radius: 0px;
}

.tab.selected {
    background: #656565;
    margin-right: 1px;
    border-radius: 0px;
}

select {
    border: 2px solid #111;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        max-width: 250px;
    }
}
